domain-needed
bogus-priv
no-resolv
server=8.8.8.8
server=8.8.4.4
local=/{{ labdomain }}/
listen-address=::1,127.0.0.1,{{ ansible_host }}
expand-hosts
domain={{ labdomain }}
dhcp-range={{ dhcprange }}
dhcp-option=option:router,{{ dhcproute }}
dhcp-authoritative
dhcp-leasefile=/var/lib/dnsmasq/dnsmasq.leases

address=/{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.51
address=/{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.52
address=/{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.53

srv-host=_etcd-server-ssl._tcp.{{ clustername }}.{{ labdomain }},etcd-0.{{ clustername }}.{{ labdomain }}

enable-tftp
tftp-root=/var/www/html/rhcos
tftp-no-fail
tftp-no-blocksize