### dnsmasq.conf for a 3-nodes lab ### 
domain-needed
bogus-priv
#no-resolv
server={{ dnsforwarder01 }}
server={{ dnsforwarder02 }}
local=/{{ labdomain }}/
listen-address=127.0.0.1,{{ ansible_host }}
expand-hosts
domain={{ labdomain }}

dhcp-range={{ dhcprange }}
dhcp-option=option:router,{{ dhcproute }}
dhcp-authoritative
dhcp-leasefile=/var/lib/dnsmasq/dnsmasq.leases

#bastion hosts records
address=/infra.{{ labdomain }}/{{ dhcpiprange }}.10
ptr-record=10.{{ ptriprange }}.in-addr.arpa,infra.{{ labdomain }}

# bootstrap records 
address=/ocp-bootstrap.{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.50
ptr-record=50.{{ ptriprange }}.in-addr.arpa,ocp-boostrap.{{ clustername }}.{{ labdomain }}
dhcp-host={{ bootstrapmac }},{{ dhcpiprange }}.50

# master01 records 
address=/ocp-mst-01.{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.51
ptr-record=51.{{ ptriprange }}.in-addr.arpa,ocp-mst-01.{{ clustername }}.{{ labdomain }}
dhcp-host={{ master1mac }},{{ dhcpiprange }}.51

# master02 records 
address=/ocp-mst-02.{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.52
ptr-record=52.{{ ptriprange }}.in-addr.arpa,ocp-mst-02.{{ clustername }}.{{ labdomain }}
dhcp-host={{ master2mac }},{{ dhcpiprange }}.52

# master02 records 
address=/ocp-mst-03.{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.53
ptr-record=53.{{ ptriprange }}.in-addr.arpa,ocp-mst-03.{{ clustername }}.{{ labdomain }}
dhcp-host={{ master3mac }},{{ dhcpiprange }}.53

# cluster records 
address=/api.{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.10
ptr-record=10.{{ ptriprange }}.in-addr.arpa,api.{{ clustername }}.{{ labdomain }}

address=/api-int.{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.10
ptr-record=10.{{ ptriprange }}.in-addr.arpa,api-int.{{ clustername }}.{{ labdomain }}

address=/apps.{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.10
address=/console-openshift-console.apps.{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.10
address=/oauth-openshift.apps.{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.10
address=/etcd-0.{{ clustername }}.{{ labdomain }}/{{ dhcpiprange }}.61

srv-host=_etcd-server-ssl._tcp.{{ clustername }}.{{ labdomain }},etcd-0.{{ clustername }}

dhcp-no-override

enable-tftp
dhcp-match=ipxe,175
tftp-root=/var/www/html/tftp
#dhcp-boot=net:#ipxe,undionly.kkpxe.0
dhcp-boot=pxelinux.0
dhcp-option-force=209,pxelinux.cfg/default
