default menu.c32
prompt 0
timeout 101
ONTIMEOUT local

menu title ########## PXE Boot Menu ##########

LABEL local
        MENU LABEL boot local hard drive
        LOCALBOOT 0
LABEL 1
        MENU LABEL 1^) OCP4 bootstrap
        KERNEL rhcos/rhcos-live-kernel-x86_64
        APPEND ip=dhcp rd.neednet=1 initrd=rhcos/rhcos-live-initramfs.x86_64.img coreos.inst=yes coreos.inst.install_dev=sda coreos.live.rootfs_url=http://{{ dhcpiprange }}.10:8080/tftp/rhcos/rhcos-live-rootfs.x86_64.img coreos.inst.ignition_url=http://{{ dhcpiprange }}.10:8080/ocp-installer/cluster/bootstrap.ign

LABEL 2
        MENU LABEL 2^) OCP4 master
        KERNEL rhcos/rhcos-live-kernel-x86_64
        APPEND ip=dhcp rd.neednet=1 initrd=rhcos/rhcos-live-initramfs.x86_64.img coreos.inst=yes coreos.inst.install_dev=sda coreos.live.rootfs_url=http://{{ dhcpiprange }}.10:8080/tftp/rhcos/rhcos-live-rootfs.x86_64.img coreos.inst.ignition_url=http://{{ dhcpiprange }}.10:8080/ocp-installer/cluster/master.ign

LABEL 3
        MENU LABEL 3^) OCP4 worker
        KERNEL rhcos/rhcos-live-kernel-x86_64
        APPEND ip=dhcp rd.neednet=1 initrd=rhcos/rhcos-live-initramfs.x86_64.img coreos.inst=yes coreos.inst.install_dev=sda coreos.live.rootfs_url=http://{{ dhcpiprange }}.10:8080/tftp/rhcos/rhcos-live-rootfs.x86_64.img coreos.inst.ignition_url=http://{{ dhcpiprange }}.10:8080/ocp-installer/cluster/worker.ign
